* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container_body {
    height: 657px;
    width: 100%;
    background-image: linear-gradient(to left, #525aee, #3cebeb);
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#part1 {
    flex: 50%;
   
}
#part2 {
    flex: 50%;
}
#part1 h1 {
    color: black;
    margin-top: 250px;
font-size: 120px;
font-weight:lighter;
text-decoration: underline;
text-align: center;
}
#part1 p {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

table {
    height: 300px;
    width: 250px;
    margin: auto;
    border-radius: 5px;
    
}

#result {
    height: 50px;
    width: 240px;
    margin:200px auto 10px auto;
    background-color: white;
    color: black;
    text-align: right;
    font-size: 40px;
    padding-right: 5px;
    box-shadow: 0px 0px 20px rgb(133, 133, 133);
    border: 0px solid black;
    overflow: hidden;
}
button {
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    background-color: black;
    box-shadow: 0px 0px 10px rgb(133, 133, 133);
    border: 2px solid gainsboro;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
@media only screen and (max-width: 1200px) {
#part1 h1 {
    font-size: 80px;
}
}
@media only screen and (max-width: 670px) {
    #part1 {
        flex: 100%; 
    }
    #part2 {
        flex: 100%;
    }
    #container_body {
        height: 800px;
       
    }
    #part1 h1 {
        margin-top: 30px;
        font-size: 60px;
    }
    #result {
        margin-top: 50px;
    }
}
